* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  height: 70px;
  padding: 22px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo-image {
  height: 26px;
  width: 83px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px;
}

.photo-grid {
  max-width: 600px;
  align-self: center;
}

.hero-text {
  margin: 0;
}

.card-box {
  width: 180px;
  margin-left: 37px;
  margin-top: 30px;
}

.card-image {
  width: 176px;
  height: 235px;
}

.card-rating {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  column-gap: 2px;
}

.star-logo {
  width: 14px;
  height: 14px;
}

.card-rating > p {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
}

.grey-text {
  color: grey;
}

.card-info {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
}

.card-price {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
}
